*{
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: Papyrus;
  display: inline;
}
.main_div {
    background-color: rgb(229, 229, 229);
    padding:0;
    margin:0px;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 190%;
}

.header {
  background-color: rgb(12, 12, 12);
  border-radius: 6px;
  padding-left: 40px;
  margin: 1px;
  display: flex;
}

.header_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header_ul li {
  float: left;
  text-align: center;
}

.header_ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  height: 6px;
  padding-top: 10px;
}

.body1 {
width: 480px;
flex: 1;
margin:20px;
margin-right: 150px;
margin-top: 0px;
}

.learn_button {
  background-color: black; 
  border-radius: 4px; 
  color: white; 
  font-size: 19px; 
  padding: 5px; 
  width: 150px;
  float: right;
}

hr {
  border:none;
  height: 20px;
 	width: 98%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid rgb(214, 214, 214);
	box-shadow: 0 22px 15px -20px rgb(214, 214, 214);
  margin: -50px auto 10px; 
}
.properties {
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
.footer {
  background-color: rgb(12, 12, 12);
  padding:10px;
  display:flex; 
  justify-content: center;
  padding: 10px 20px 10px 20px;
}
.footer_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer_ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  width: 380px;

  padding-bottom: 10px;
}
.footer_ul li a{
  color: white;
  text-decoration: none;
}
.vl {
  border-left: 1px solid gray;
  height: 150px;
  margin: 20px;
}